.boxx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.boxx h3{
    margin: 0 0 30px;
    padding: 0;
    color: gray;
    text-align: center;
}

.boxx .inputBox{
    position: relative;
}

.boxx .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: gray;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;   
    border-bottom: 1px solid gray;
    outline: none;
    background: transparent;
}

.boxx .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: gray;
    pointer-events: none;
    transition: .5s;
}

.boxx .inputBox input:focus ~ label,
.boxx .inputBox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: antiquewhite;
    font-size: 12px;
}

.boxx .inputBox[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: blueviolet;
    background: blue;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}


